body {
    background-color: #191919;
    margin: 0;
    color: white;
}

* {
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

html, body {
  height: 100%;
}

.page {
  flex-grow: 1;
}

.light-theme {
    background-color: #69e47a;
}

.dark-theme {
    background-color: #191919;
}