.btn-pagination {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 50%;
    background-color: rgba(136, 231, 136, 0.801);
    cursor: pointer;
}
