.favorite-btn--disable {
    background-image: url("https://img.icons8.com/ios/50/star--v1.png");
    height: 30px;
    width: 30px;
    background-size: cover;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.favorite-btn--enable {
    background-image: url("https://img.icons8.com/emoji/48/star-emoji.png");
    height: 30px;
    width: 30px;
    background-size: cover;
    border: none;
    background-color: transparent;
    cursor: pointer;
}