.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: end;
    border-radius: 16px 16px 0px 0px;
    color: white;
    padding: 0px 12px 12px;
    flex-shrink: 0;
}

.footer_title {
    font-size: 14px;
}

.footer_link {
    color: white;
    font-size: 14px;
}
