.card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 12px;
    margin: 12px;
    border-radius: 12px;
    justify-content: center;
    background-color: gray;
    max-width: 240px;
}